.button {
    width: 100%;
    background-color: rgb(33, 42, 47);
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.8125em 1.125em;
    border: 2px solid rgb(33, 42, 47);
    border-radius: 2px;
    margin-bottom: 1rem;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: transparent;
        color: rgb(33, 42, 47);
        cursor: pointer;
    }

    &.google-btn {
        background-color: #4285F4;
        border-color: #4285F4;

        &:hover {
            background-color: transparent;
            color: #4285F4;
        }
    }
}