.button {
    width: 100%;
    background-color: $Dark-Blue;
    color: $white;
    font-size: 1.4em;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.8125em 1.125em;
    border: 2px solid $Dark-Blue;
    border-radius: 2px;
    margin-bottom: 1rem;

    >a {
        color: $white;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: transparent;
        color: $Dark-Blue;
        cursor: pointer;

        >a {
            color: $Dark-Blue;
        }
    }

    &.google-btn {
        background-color: #4285F4;
        border-color: #4285F4;

        &:hover {
            background-color: transparent;
            color: #4285F4;
        }
    }
}