.account-container{
    background-color: #f1ebe7;
    padding: 10em 2em;

    h2{
        text-align: center;
        margin-bottom: 2rem;
    }
    p.button{
        width:10em;
        margin: 0 auto;
    }
}