
.homepage {

    .subheading {
        font-size: 2.8em;
        margin-bottom: 3rem;

        @include laptop {
            font-size: 3.5em;
        }
    }

    .homepage_top {
        height: 100vh;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        padding: 5rem 1em 0;

        .homepage_top-heading {
            font-size: 25px; // mobile
            text-align: center;
            font-weight: 600;
            font-style: oblique;
            text-transform: uppercase;
            color: $white;
            line-height: 1.4;
            letter-spacing: 10px;
            transform: rotate(-5deg);
            margin: 0;

            @include large-phone {
                font-size: 35px;
            }

            @include tablet {
                font-size: 45px;
            }

            @include laptop {
                font-size: 55px;
            }

            @include desktop {
                font-size: 72px;
            }
        }
    }

    .shop-btn {
        padding-bottom: 3em;
        position: absolute;
        bottom: 0;

        p {
            display: inline-block;
            font-size: 1.5em;
            border-bottom: $white .1rem solid;
            padding: 0 .5rem .2rem;
            font-weight: 500;
            color: $white;
            margin: 0;

            &:hover {
                cursor: pointer;
            }

            &:not(:last-child) {
                margin-right: 3em;
            }

            @include tablet {
                font-size: 1.75em;
            }

            @include desktop {
                font-size: 2em;
            }
        }
    }

    .homepage_about {
        padding: 10em 2.4em;
        text-align: center;

        img {
            width: 10em;

            @include tablet {
                width: 12em;
            }

        }

        p {
            font-size: 2.5em;
            font-weight: 400;
            margin: 0;

            @include tablet {
                font-size: 3em;
            }

            @include laptop {
                font-size: 3.5em;
            }

            @include desktop {
                font-size: 4em;
            }
        }
    }


    .homepage_newsletter {
        text-align: center;
        padding: 15em 2.4em;
        // background-image: url(https://images.unsplash.com/photo-1499756630622-6a7fd76720ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);
        // background-size: cover;
        // background-position: center;
        // height: 70em;
        p {
            font-size: 1.5em;
            margin-bottom: 2rem;

            @include laptop {
                font-size: 2em;
            }
        }

        .homepage_newsletter-subscribe {
            display: flex;
            justify-content: center;

            .email-field {
                height: 3em;
                width: 60%;
                max-width: 40em;
                border: rgba(0, 0, 0, .2) 1px solid;
                border-right: none;
                border-radius: 5px 0px 0px 5px;
                padding-left: .5em;

                &:focus {
                    outline: none;
                }

                @include laptop {
                    height: 2.5rem;
                    font-size: 1.5em;
                }

            }

            button {
                background-color: $black;
                color: #fff;
                height: 3em;
                width: 20%;
                max-width: 15em;
                border: none;
                border-radius: 0 5px 5px 0px;

                @include laptop {
                    height: 2.5rem;
                    font-size: 1.5em;
                }

            }
        }

    }

    .homepage_partners {
        text-align: center;
        padding: 0 2.4em 15em;

        ul {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            li {
                width: 50%;

                &:nth-child(n+1):nth-child(-n+2) {
                    padding-bottom: 5rem;
                }

                img {
                    width: 10em;

                    @include laptop {
                        width: 15em;
                    }

                    @include desktop {
                        width: 20em;
                    }
                }
            }
        }
    }
}