/*------------------------------------*\
$GLOBAL ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* Extra Small devices (landscape phones, 327px and up) */
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  color: #212a2f;
}

body h1,
body h2,
body h3,
body h4,
body h5 {
  font-weight: 300;
}

body a {
  color: #000;
}

body a:hover {
  text-decoration: none;
  color: #424242;
}

body a.white_link {
  color: #fff;
}

body a.white_link:hover {
  text-decoration: none;
  color: #dee2e6;
}

body button:focus {
  outline: none;
}

.button {
  width: 100%;
  background-color: #212a2f;
  color: #fff;
  font-size: 1.4em;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.8125em 1.125em;
  border: 2px solid #212a2f;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.button > a {
  color: #fff;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: transparent;
  color: #212a2f;
  cursor: pointer;
}

.button:hover > a {
  color: #212a2f;
}

.button.google-btn {
  background-color: #4285F4;
  border-color: #4285F4;
}

.button.google-btn:hover {
  background-color: transparent;
  color: #4285F4;
}

.main-container {
  flex: 1;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*------------------------------------*\
    $PAGES
\*------------------------------------*/
.homepage .subheading {
  font-size: 2.8em;
  margin-bottom: 3rem;
}

@media (min-width: 62em) {
  .homepage .subheading {
    font-size: 3.5em;
  }
}

.homepage .homepage_top {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 5rem 1em 0;
}

.homepage .homepage_top .homepage_top-heading {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  font-style: oblique;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 10px;
  transform: rotate(-5deg);
  margin: 0;
}

@media (min-width: 36em) {
  .homepage .homepage_top .homepage_top-heading {
    font-size: 35px;
  }
}

@media (min-width: 48em) {
  .homepage .homepage_top .homepage_top-heading {
    font-size: 45px;
  }
}

@media (min-width: 62em) {
  .homepage .homepage_top .homepage_top-heading {
    font-size: 55px;
  }
}

@media (min-width: 75em) {
  .homepage .homepage_top .homepage_top-heading {
    font-size: 72px;
  }
}

.homepage .shop-btn {
  padding-bottom: 3em;
  position: absolute;
  bottom: 0;
}

.homepage .shop-btn p {
  display: inline-block;
  font-size: 1.5em;
  border-bottom: #fff 0.1rem solid;
  padding: 0 .5rem .2rem;
  font-weight: 500;
  color: #fff;
  margin: 0;
}

.homepage .shop-btn p:hover {
  cursor: pointer;
}

.homepage .shop-btn p:not(:last-child) {
  margin-right: 3em;
}

@media (min-width: 48em) {
  .homepage .shop-btn p {
    font-size: 1.75em;
  }
}

@media (min-width: 75em) {
  .homepage .shop-btn p {
    font-size: 2em;
  }
}

.homepage .homepage_about {
  padding: 10em 2.4em;
  text-align: center;
}

.homepage .homepage_about img {
  width: 10em;
}

@media (min-width: 48em) {
  .homepage .homepage_about img {
    width: 12em;
  }
}

.homepage .homepage_about p {
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
}

@media (min-width: 48em) {
  .homepage .homepage_about p {
    font-size: 3em;
  }
}

@media (min-width: 62em) {
  .homepage .homepage_about p {
    font-size: 3.5em;
  }
}

@media (min-width: 75em) {
  .homepage .homepage_about p {
    font-size: 4em;
  }
}

.homepage .homepage_image_gallery {
  margin-bottom: 20em;
}

.homepage .homepage_newsletter {
  text-align: center;
  padding: 0 2.4em;
  margin-bottom: 20em;
}

.homepage .homepage_newsletter p {
  font-size: 1.5em;
  margin-bottom: 2rem;
}

@media (min-width: 62em) {
  .homepage .homepage_newsletter p {
    font-size: 2em;
  }
}

.homepage .homepage_newsletter .homepage_newsletter-subscribe {
  display: flex;
  justify-content: center;
}

.homepage .homepage_newsletter .homepage_newsletter-subscribe .email-field {
  height: 3em;
  width: 60%;
  max-width: 40em;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  padding-left: .5em;
}

.homepage .homepage_newsletter .homepage_newsletter-subscribe .email-field:focus {
  outline: none;
}

@media (min-width: 62em) {
  .homepage .homepage_newsletter .homepage_newsletter-subscribe .email-field {
    height: 2.5rem;
    font-size: 1.5em;
  }
}

.homepage .homepage_newsletter .homepage_newsletter-subscribe button {
  background-color: #000;
  color: #fff;
  height: 3em;
  width: 20%;
  max-width: 15em;
  border: none;
  border-radius: 0 5px 5px 0px;
}

@media (min-width: 62em) {
  .homepage .homepage_newsletter .homepage_newsletter-subscribe button {
    height: 2.5rem;
    font-size: 1.5em;
  }
}

.homepage .homepage_partners {
  text-align: center;
  padding: 0 2.4em;
  margin-bottom: 20em;
}

.homepage .homepage_partners ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.homepage .homepage_partners ul li {
  width: 50%;
}

.homepage .homepage_partners ul li:nth-child(n+1):nth-child(-n+2) {
  padding-bottom: 5rem;
}

.homepage .homepage_partners ul li img {
  width: 10em;
}

@media (min-width: 62em) {
  .homepage .homepage_partners ul li img {
    width: 15em;
  }
}

.account-container {
  background-color: #f1ebe7;
  padding: 10em 2em;
}

.account-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.account-container p.button {
  width: 10em;
  margin: 0 auto;
}

.account-container .main-wrapper {
  padding: 7em 0;
}

.account-container .main-wrapper .user-content {
  background-color: #fff;
  padding: 3em;
  width: 100%;
  margin: 0 auto 3rem;
  text-align: center;
}

@media (min-width: 48em) {
  .account-container .main-wrapper .user-content {
    width: 70%;
    text-align: unset;
  }
}

.account-container .main-wrapper .user-content p {
  font-size: 1.8em;
  font-weight: 600;
}

.account-container .main-wrapper .user-content p:not(:last-child) {
  margin-bottom: 3rem;
}

.account-container .main-wrapper .user-content p span {
  font-weight: 400;
  display: block;
}

@media (min-width: 48em) {
  .account-container .main-wrapper .user-content p span {
    float: right;
    display: inline;
  }
}

.loginpage-container {
  background-color: #f1ebe7;
  padding: 10em 2em;
}

@media (min-width: 48em) {
  .loginpage-container {
    padding: 10em;
  }
}

@media (min-width: 62em) {
  .loginpage-container {
    padding: 20em 2em;
  }
}

.loginpage-container .container {
  display: flex;
  flex-wrap: wrap;
}

.loginpage-container h1 {
  font-size: 2.4em;
  font-weight: 600;
}

.loginpage-container label {
  display: block;
  font-size: 1.4em;
  font-weight: 600;
}

.loginpage-container input {
  width: 100%;
  margin-bottom: 19px;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: white;
  font-weight: 400;
  font-size: 1.6em;
  padding: 19px 20px;
}

.loginpage-container input:focus {
  outline: none;
}

.loginpage-container .login-wrapper {
  width: 100%;
}

@media (min-width: 62em) {
  .loginpage-container .login-wrapper {
    width: 50%;
    padding-right: 5%;
  }
}

.loginpage-container .login-wrapper h1 {
  margin-bottom: 1em;
}

.loginpage-container .register-wrapper {
  margin-top: 5em;
  width: 100%;
}

@media (min-width: 62em) {
  .loginpage-container .register-wrapper {
    margin-top: 0;
  }
}

@media (min-width: 62em) {
  .loginpage-container .register-wrapper {
    width: 50%;
    padding-left: 5%;
  }
}

.loginpage-container .register-wrapper h1 {
  margin-bottom: 1em;
}

.loginpage-container .register-wrapper p {
  font-size: 1.6em;
}

.loginpage-container .register-wrapper p.bold {
  font-weight: 600;
  text-align: center;
}

.checkout-container {
  padding-top: 10em;
  padding-bottom: 5em;
}

.checkout-container h1 {
  text-align: center;
  font-weight: 700;
  font-size: 4.5em;
  margin-bottom: 2.5rem;
}

.checkout-container .summary-wrapper {
  margin-top: 5em;
}

.checkout-container .summary-wrapper p {
  font-size: 1.4em;
  font-weight: 600;
}

.checkout-container .summary-wrapper p.total {
  font-size: 1.8em;
  border-top: 1px solid #d3d4d5;
  padding-top: 1.5rem;
}

.checkout-container .summary-wrapper p span {
  float: right;
  font-weight: 400;
}

@media (min-width: 48em) {
  .checkout-container .summary-wrapper {
    width: 50%;
    margin-left: auto;
  }
}

@media (min-width: 75em) {
  .checkout-container .summary-wrapper {
    width: 35%;
  }
}

.checkout-container .summary-wrapper .StripeCheckout {
  border: 2px solid #212a2f !important;
  border-radius: 2px !important;
  background: #212a2f !important;
  box-shadow: none !important;
  width: 100%;
  font-size: 1.4em;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.8125em 1.125em !important;
}

.checkout-container .summary-wrapper .StripeCheckout span {
  background: #212a2f !important;
  border: unset !important;
  box-shadow: none !important;
  font-family: inherit !important;
}

.checkout-container .summary-wrapper .StripeCheckout:focus {
  outline: none;
}

.checkout-container .empty-container {
  text-align: center;
  height: 50em;
}

.checkout-container .empty-container h2 {
  margin-bottom: 5rem;
}

.checkout-container .empty-container p.button {
  min-width: 10em;
  width: 50%;
  margin: 0 auto;
}

.itempage-container .container {
  padding: 0;
}

.itempage-container h1 {
  font-weight: 700;
  line-height: 1.32;
  letter-spacing: 0.5px;
  color: #212a2f;
  margin: 0px;
  padding: 0px;
}

.itempage-container p {
  font-weight: 400;
  color: #212a2f;
  line-height: 1.5;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  margin: 0px 0px 1rem;
  padding: 0px;
}

.itempage-container p.color {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid #d3d4d5;
}

.itempage-container p.big {
  font-size: 1.6em;
}

.itempage-container p.bold {
  font-weight: 600;
}

.itempage-container p.button {
  width: 100%;
  background-color: #d3d4d5;
  border-color: #d3d4d5;
  color: white;
  margin-bottom: 1rem;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 18px;
  border-width: 2px;
  border-radius: 2px;
}

.itempage-container p.button.selected {
  background-color: #212a2f;
  border-color: #212a2f;
}

.itempage-container p.button:active {
  outline: none;
}

.itempage-container .itempage-top-wrapper {
  margin-bottom: 3rem;
}

@media (min-width: 48em) {
  .itempage-container .itempage-top-wrapper {
    display: flex;
    padding: 3rem 0 0;
  }
}

@media (min-width: 62em) {
  .itempage-container .itempage-top-wrapper {
    height: 50em;
    justify-content: space-between;
    margin-bottom: 5rem;
  }
}

.itempage-container .itempage-top-wrapper img {
  width: 100%;
  height: 30em;
  object-fit: cover;
  margin-bottom: 2rem;
  box-shadow: #d3d4d5 0px 6px 12px 0px;
}

@media (min-width: 48em) {
  .itempage-container .itempage-top-wrapper img {
    width: 50%;
    height: 100%;
    margin-bottom: 0;
  }
}

.itempage-container .itempage-top-wrapper .top-content {
  padding: 0 3em;
}

@media (min-width: 48em) {
  .itempage-container .itempage-top-wrapper .top-content {
    padding: 0 3em 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 62em) {
  .itempage-container .itempage-top-wrapper .top-content {
    width: 45%;
    padding-left: 0;
  }
}

.itempage-container .itempage-top-wrapper .top-content h1 {
  font-size: 2.5em;
}

@media (min-width: 62em) {
  .itempage-container .itempage-top-wrapper .top-content h1 {
    font-size: 3.2em;
  }
}

.itempage-container .itempage-top-wrapper .top-content .size-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.itempage-container .itempage-top-wrapper .top-content .size-list li {
  line-height: 3em;
  width: 3em;
  height: 3em;
  border: 1px solid #d3d4d5;
  font-size: 1.6em;
  text-align: center;
  font-weight: 500;
  margin-top: 1rem;
}

.itempage-container .itempage-top-wrapper .top-content .size-list li:not(:last-child) {
  margin-right: .5em;
}

.itempage-container .itempage-top-wrapper .top-content .size-list li.selected {
  background-color: #212a2f;
  border-color: #212a2f;
  color: white;
}

.itempage-container .itempage-top-wrapper .top-content .size-list li:hover {
  cursor: pointer;
}

.itempage-container .itempage-center-wrapper {
  padding: 0 3em;
  margin-bottom: 3rem;
}

@media (min-width: 62em) {
  .itempage-container .itempage-center-wrapper {
    margin-bottom: 5rem;
  }
}

.itempage-container .itempage-center-wrapper .center-content h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 2rem;
}

.itempage-container .itempage-center-wrapper .center-content p {
  font-size: 1.6em;
}

@media (min-width: 62em) {
  .itempage-container .itempage-center-wrapper .center-content p {
    font-size: 1.8em;
    margin-bottom: 2rem;
  }
}

.itempage-container .itempage-center-wrapper .center-content ul {
  margin-left: 1rem;
}

.itempage-container .itempage-center-wrapper .center-content ul li {
  list-style: disc;
  font-size: 1.4em;
  font-weight: 500;
}

@media (min-width: 62em) {
  .itempage-container .itempage-center-wrapper .center-content ul li {
    font-size: 1.6em;
  }
}

.itempage-container .itempage-center-wrapper .center-content ul li:not(:last-child) {
  margin-bottom: 1rem;
}

@media (min-width: 62em) {
  .itempage-container .itempage-center-wrapper .center-content ul li:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.itempage-container .itempage-bottom-wrapper {
  padding: 0 3em;
  margin-bottom: 3rem;
}

.itempage-container .itempage-bottom-wrapper h1 {
  text-align: center;
  font-size: 2em;
}

@media (min-width: 48em) {
  .itempage-container .itempage-bottom-wrapper .bottom-content {
    display: flex;
    flex-wrap: wrap;
  }
}

.itempage-container .itempage-bottom-wrapper .bottom-content .item-card {
  box-shadow: #d3d4d5 0px 6px 12px 0px;
  margin-top: 2rem;
}

@media (min-width: 48em) {
  .itempage-container .itempage-bottom-wrapper .bottom-content .item-card {
    width: 48%;
  }
  .itempage-container .itempage-bottom-wrapper .bottom-content .item-card:not(:nth-child(even)) {
    margin-right: 4%;
  }
}

@media (min-width: 62em) {
  .itempage-container .itempage-bottom-wrapper .bottom-content .item-card {
    width: 30%;
  }
  .itempage-container .itempage-bottom-wrapper .bottom-content .item-card:nth-child(n) {
    margin-right: 0;
  }
  .itempage-container .itempage-bottom-wrapper .bottom-content .item-card:not(:nth-child(3n)) {
    margin-right: 5%;
  }
}

.itempage-container .itempage-bottom-wrapper .bottom-content .item-card img {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.itempage-container .itempage-bottom-wrapper .bottom-content .item-card .card-content {
  padding: 2em;
}

.itempage-container .itempage-bottom-wrapper .bottom-content .item-card .card-content h2 {
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: .5rem;
}

.itempage-container .itempage-bottom-wrapper .bottom-content .item-card .card-content p {
  font-size: 1.6em;
  margin-bottom: .5rem;
}

.itempage-container .itempage-bottom-wrapper .bottom-content .item-card:hover {
  cursor: pointer;
}

.collections-container {
  margin-top: 5rem;
}

.collections-container p {
  margin: 0;
}

.collections-container .collections-top {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.collections-container .collections-top img {
  width: 100%;
  height: 30em;
  object-fit: cover;
}

@media (min-width: 48em) {
  .collections-container .collections-top img {
    height: 40em;
  }
}

@media (min-width: 62em) {
  .collections-container .collections-top img {
    height: 50em;
    width: 60%;
  }
}

.collections-container .collections-top .collections-top-content {
  width: 100%;
  height: auto;
  padding: 3em 3.6em;
  color: #fff;
  background-color: #212a2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collections-container .collections-top .collections-top-content h1 {
  font-size: 3.2em;
}

.collections-container .collections-top .collections-top-content p {
  font-size: 1.6em;
}

@media (min-width: 62em) {
  .collections-container .collections-top .collections-top-content {
    width: 40%;
  }
}

.collections-container .search-bar {
  margin-top: 2rem;
}

.collections-container .search-bar .container {
  border-bottom: 1px solid #d3d4d5;
}

@media (min-width: 62em) {
  .collections-container .search-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.collections-container .search-bar p.search-result {
  display: none;
  font-size: 1.6em;
  font-weight: 500;
}

@media (min-width: 62em) {
  .collections-container .search-bar p.search-result {
    display: block;
  }
}

.collections-container .search-bar button.clearFilterBtn {
  background-color: whitesmoke;
  color: #000;
  padding: .5rem;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .1rem;
  border: none;
  border-radius: 2px;
  display: block;
  margin: 0 auto 1rem;
}

@media (min-width: 62em) {
  .collections-container .search-bar button.clearFilterBtn {
    margin-bottom: 0;
  }
}

.collections-container .search-bar button.clearFilterBtn:hover {
  background-color: #e6e6e6;
}

.collections-container .search-bar button.clearFilterBtn:active {
  outline: none;
}

.collections-container .search-bar ul {
  margin: 0;
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 62em) {
  .collections-container .search-bar ul {
    width: 60%;
  }
}

.collections-container .search-bar ul li {
  text-align: center;
  font-size: 1.6em;
  font-weight: 500;
}

.collections-container .search-bar ul li i {
  margin-left: .5em;
}

.collections-container .search-bar ul li:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.collections-container .search-bar ul li.active {
  transform: scale(1.1);
}

.collections-container .search-bar ul li.active > i {
  transition: all 0.4s;
  transform: rotateX(180deg);
}

@media (min-width: 62em) {
  .collections-container .collections-items-container .search-result {
    display: none;
  }
}

.no_match_page {
  padding: 5em;
  text-align: center;
  margin-top: 5rem;
}

.no_match_page h1 {
  margin-bottom: 2em;
}

/*------------------------------------*\
$COMPONENTS
\*------------------------------------*/
.header {
  position: fixed;
  top: 0;
  height: 5rem;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 24px 0px;
}

.header #bars {
  font-size: 1.5rem;
  width: 1.3rem;
}

.header #bars:hover {
  cursor: pointer;
}

@media (min-width: 62em) {
  .header #bars {
    display: none;
  }
}

.header .desktop_menu {
  display: none;
}

@media (min-width: 62em) {
  .header .desktop_menu {
    display: block;
  }
}

.header .header-left {
  margin: 0;
}

.header .header-left li {
  float: left;
  font-size: 1.6em;
}

.header .header-left li:not(:last-child) {
  margin-right: 2em;
}

.header .header-left li:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.header .header-left li.is-active {
  transform: scale(1.1, 1.1);
}

@media (min-width: 62em) {
  .header .header-left {
    display: block;
  }
}

.header .header-logo {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -5;
  height: 100%;
  width: 100%;
  text-align: center;
}

.header .header-logo img {
  height: 100%;
  width: 10em;
}

.header .header-right {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.6em;
}

.header .header-right p {
  margin-bottom: 0;
}

.header .header-right p:not(:last-child) {
  margin-right: 2em;
}

.header .header-right p:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.header .header-right p i {
  font-size: 1.3rem;
}

@media (min-width: 62em) {
  .header #shopping-cart.shopping-cart-mobile {
    display: none;
  }
}

.header_dropdown {
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 5rem;
  left: 0;
  transform: translateY(-100%);
  opacity: 0;
}

.header_dropdown.active {
  transform: translateY(0);
  transition: all 0.4s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 1;
}

@media (min-width: 62em) {
  .header_dropdown.active .blanket {
    display: block;
  }
}

.header_dropdown .header_dropdown-mobile {
  height: 100vh;
}

@media (min-width: 62em) {
  .header_dropdown .header_dropdown-mobile {
    display: none;
  }
}

.header_dropdown .header_dropdown-mobile ul li {
  font-size: 1.4em;
  padding: 1rem 1.5rem;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  font-weight: 500;
}

.header_dropdown .header_dropdown-mobile ul li.gender {
  font-weight: bold;
}

.header_dropdown .header_dropdown-mobile ul li.link-list {
  padding: 0;
}

.header_dropdown .header_dropdown-mobile ul li.link-list a {
  padding: 1rem 1.5rem;
  display: block;
}

.header_dropdown .header_dropdown-mobile ul li:hover {
  cursor: pointer;
}

.header_dropdown .header_dropdown-mobile ul li i {
  float: right;
}

.header_dropdown .header_dropdown-mobile ul.slide-list {
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 100%;
  animation-name: slideToLeft;
  animation-duration: .2s;
  right: -100%;
  animation-fill-mode: forwards;
}

.header_dropdown .header_dropdown-mobile ul.slide-list li.title {
  text-align: center;
  font-weight: 700;
  background-color: whitesmoke;
}

.header_dropdown .header_dropdown-mobile ul.slide-list li.title i {
  float: left;
}

.header_dropdown .header_dropdown-desktop {
  display: none;
  width: 100%;
}

@media (min-width: 62em) {
  .header_dropdown .header_dropdown-desktop {
    display: block;
  }
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main {
  display: flex;
  padding: 7em 0;
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main p {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1rem;
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main .header_dropdown-shoes {
  width: 50%;
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main .header_dropdown-shoes ul li {
  font-size: 1.5em;
  float: left;
  width: 50%;
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main .header_dropdown-shoes ul li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main .header_dropdown-shoes ul li.list-title {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1rem;
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main .header_dropdown-shoes ul li img {
  width: 15em;
  height: 5em;
  object-fit: cover;
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main .header_dropdown-collections {
  width: 50%;
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main .header_dropdown-collections ul {
  display: flex;
  justify-content: space-between;
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main .header_dropdown-collections ul .collection-item {
  width: 48%;
  height: 8rem;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main .header_dropdown-collections ul .collection-item.mens-topsellers {
  background-image: url(../../img/topseller.jpg);
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main .header_dropdown-collections ul .collection-item.women-topsellers {
  background-image: url(../../img/women-all.jpg);
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main .header_dropdown-collections ul .collection-item.mens-newarrivals {
  background-image: url(../../img/mens-new-arrivals.jpg);
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main .header_dropdown-collections ul .collection-item.women-newarrivals {
  background-image: url(../../img/women-running.jpg);
}

.header_dropdown .header_dropdown-desktop .header_dropdown-main .header_dropdown-collections ul .collection-item a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.7em;
  color: #fff;
}

.header_dropdown .blanket {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.shopping_cart_menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  height: 100vh;
  width: 100vw;
}

.shopping_cart_menu .blanket {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.shopping_cart_menu .blanket:hover {
  cursor: pointer;
}

@media (min-width: 62em) {
  .shopping_cart_menu .blanket {
    display: block;
  }
}

.shopping_cart_menu .shopping_cart_menu-main {
  padding: 3em 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #fff;
  text-align: center;
  animation-name: slideToLeft;
  animation-duration: .5s;
  right: -100%;
  animation-fill-mode: forwards;
}

@media (min-width: 62em) {
  .shopping_cart_menu .shopping_cart_menu-main {
    width: 45em;
    right: -45em;
  }
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-top {
  position: relative;
  border-bottom: 8px solid whitesmoke;
  margin: 0 3em;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-top i.fa-arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3.5em;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-top i.fa-arrow-right:hover {
  cursor: pointer;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-top .shipping-message #shopping-cart:hover {
  cursor: auto;
  transform: none;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-top .shipping-message p {
  margin-top: 1rem;
  font-size: 1.2em;
  font-weight: 500;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-top .shipping-message p .amount {
  font-weight: 600;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-empty {
  padding: 2.5rem;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-empty h2 {
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 2.5rem;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-empty ul li.button {
  padding: 0;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-empty ul li.button:not(:last-child) {
  margin-bottom: 2rem;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-empty ul li.button a {
  display: block;
  padding: 0.8125em 1.125em;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-bottom {
  height: 100%;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-bottom .items-content {
  height: 50%;
  overflow: scroll;
  padding: 0 3em;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-bottom .summary {
  padding: 5em 3em;
  text-align: left;
  height: 50%;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-bottom .summary p {
  font-size: 1.5em;
  font-weight: 600;
  position: relative;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-bottom .summary p span {
  position: absolute;
  right: 0;
  display: inline-block;
  font-weight: 400;
}

.shopping_cart_menu .shopping_cart_menu-main .shopping_cart_menu-bottom .summary .button {
  display: block;
  margin-top: 3rem;
}

@keyframes slideToLeft {
  0% {
    opacity: .5;
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    opacity: 1;
    @media (min-width: 62em) {
      transform: translateX(-45em);
    }
  }
}

.items-card {
  padding: 2em 0;
  border-bottom: 1px solid #d3d4d5;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 30em;
}

.items-card img {
  height: 10em;
  width: 10em;
}

.items-card i.fa-times {
  position: absolute;
  top: 1.25rem;
  font-size: 1rem;
  right: 0;
}

.items-card i.fa-times:hover {
  cursor: pointer;
}

.items-card p.price {
  position: absolute;
  bottom: 1.25em;
  right: 0;
  margin-bottom: 0;
  font-size: 1.5em;
}

.items-card .card-inner-left {
  text-align: left;
  padding-left: 2em;
}

.items-card .card-inner-left h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: .3rem;
  margin-right: 1rem;
}

.items-card .card-inner-left p {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: .3rem;
}

#shopping-cart .fa-stack[data-count] {
  font-size: 1.2rem;
}

#shopping-cart .fa-stack[data-count] .fa-circle {
  color: rgba(0, 0, 0, 0.7);
}

#shopping-cart .fa-stack[data-count]::after {
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 30%;
  padding: .7em;
  border-radius: 50%;
  line-height: 1.2em;
  color: white;
  background: rgba(255, 0, 0, 0.85);
  text-align: center;
  min-width: 1em;
  font-weight: bold;
  box-sizing: unset;
}

#shopping-cart:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

@media (min-width: 62em) {
  #shopping-cart.shopping-cart-mobile {
    display: none;
  }
}

.search-filter {
  margin-bottom: 2rem;
  max-height: 0;
  opacity: 0;
}

@media (min-width: 36em) {
  .search-filter .container {
    padding: 0;
  }
}

.search-filter.active {
  transition: all 0.4s;
  opacity: 1;
  max-height: 20em;
}

.search-filter.active .search-filter-content.open {
  display: block;
}

.search-filter-content {
  display: none;
}

.search-filter-content ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
}

.search-filter-content ul li {
  line-height: 3em;
  height: 3em;
  width: auto;
  padding: 0 1em;
  border: 1px solid #d3d4d5;
  font-size: 1.6em;
  text-align: center;
  font-weight: 500;
  margin-top: 1rem;
  margin-right: 1em;
}

.search-filter-content ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.search-filter-content ul.search-filter-price {
  justify-content: space-between;
}

@media (min-width: 48em) {
  .search-filter-content ul.search-filter-price {
    justify-content: center;
  }
}

.search-filter-content ul.search-filter-price li {
  min-width: 48%;
  margin-right: 0;
}

@media (min-width: 48em) {
  .search-filter-content ul.search-filter-price li {
    min-width: auto;
    margin-right: 1em;
  }
}

.search-filter-content ul.search-filter-color {
  margin-left: 1rem;
}

@media (min-width: 48em) {
  .search-filter-content ul.search-filter-color {
    margin-left: 0;
  }
}

.search-filter-content ul.search-filter-color li {
  border: none;
  padding: 0;
  width: 3em;
  border-radius: 50%;
}

.search-filter-content ul.search-filter-size {
  margin-left: 1rem;
}

@media (min-width: 48em) {
  .search-filter-content ul.search-filter-size {
    margin-left: 0;
  }
}

.search-filter-content ul.search-filter-size li {
  width: 3em;
  padding: 0;
}

.collections-items-container {
  min-height: 50em;
}

@media (min-width: 62em) {
  .collections-items-container {
    min-height: 70em;
  }
}

.collections-items-container .search-result {
  font-size: 1.6em;
  text-align: center;
  margin: 1.5em 0;
}

.collections-items-container .collections-items-wrapper .collections-title p {
  font-size: 1.6em;
}

.collections-card {
  box-shadow: #d3d4d5 0px 6px 12px 0px;
  margin: 5em 0;
}

.collections-card .collections-card-outer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.collections-card .collections-card-outer img {
  height: 30em;
  object-fit: cover;
}

.collections-card .collections-card-outer .card-content {
  padding: 2em 2em 0;
}

.collections-card .collections-card-outer .card-content h3 {
  font-size: 1.6em;
  height: 2em;
  font-weight: 500;
  margin-bottom: .5rem;
}

.collections-card .collections-card-outer .card-content p {
  font-size: 1.6em;
  margin-bottom: .5rem;
}

.collections-card .collections-card-outer:hover {
  cursor: pointer;
}

.collections-card .quick-add {
  border-top: 1px solid #d3d4d5;
  padding: .5em 1em;
}

.collections-card .quick-add p {
  font-size: 1.4em;
  font-weight: 500;
  display: inline-block;
}

.collections-card .quick-add p i {
  margin-left: 1em;
}

.collections-card .quick-add p:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.collections-card .search-filter-content {
  display: block;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s;
}

.collections-card .search-filter-content.active {
  opacity: 1;
  max-height: 20em;
}

.collections-card .search-filter-content.active .search-filter-size {
  display: flex;
}

.collections-card .search-filter-content .search-filter-size {
  padding: 0 1em 1em;
  justify-content: start;
  display: none;
}

footer {
  background-color: #212a2f;
  color: #fff;
  text-align: center;
  padding: 2em;
}

footer img {
  width: 10em;
}

footer .hash-tag {
  margin: 0;
  font-weight: 100;
  font-size: 1.5em;
}

footer ul.media-list {
  padding-top: 1em;
}

footer ul.media-list li {
  display: inline-block;
  font-size: 1.3em;
}

footer ul.media-list li:not(:last-child) {
  margin-right: 1em;
}

@media (min-width: 48em) {
  footer .footer-list {
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
    margin-bottom: 2rem;
  }
}

@media (min-width: 48em) {
  footer .footer-list ul {
    width: 33.33337%;
  }
}

footer .footer-list ul li {
  font-size: 1.2em;
}

footer .footer-list ul li:not(:last-child) {
  padding-bottom: 0.5em;
}

footer .footer-list ul li.list-title {
  font-weight: bold;
  font-size: 1.6em;
  padding-bottom: 1em;
}

footer .typography {
  font-size: 1.2em;
}

.image_gallery .image_gallery-outer {
  padding: 0 2.4em;
  margin: 0 auto;
}

@media (min-width: 62em) {
  .image_gallery .image_gallery-outer {
    padding-left: 4em;
    padding-right: 4em;
  }
}

@media (min-width: 75em) {
  .image_gallery .image_gallery-outer {
    max-width: 1300px;
  }
}

@media (min-width: 48em) {
  .image_gallery .image_gallery-outer .image_gallery-inner.grid {
    display: grid;
    grid-template: repeat(3, 33.33337%)/repeat(2, 50%);
    overflow: hidden;
    margin-bottom: 10em;
  }
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-sneakers {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-topsellers {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-boots {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

@media (min-width: 48em) {
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-boots .image-content h1 {
    font-size: 2em;
  }
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-boots .image-content > p {
    display: none;
  }
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-boots .image-content .shop-btn {
    padding-bottom: .5rem;
  }
}

@media (min-width: 75em) {
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-boots .image-content h1 {
    font-size: 2.5em;
  }
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-boots .image-content .shop-btn {
    padding-bottom: 1rem;
  }
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-running {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

@media (min-width: 48em) {
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-running .image-content h1 {
    font-size: 2em;
  }
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-running .image-content > p {
    display: none;
  }
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-running .image-content .shop-btn {
    padding-bottom: .5rem;
  }
}

@media (min-width: 75em) {
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-running .image-content h1 {
    font-size: 2.5em;
  }
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.grid-running .image-content .shop-btn {
    padding-bottom: 1rem;
  }
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.new-arrivals {
  display: none;
}

@media (min-width: 48em) {
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.new-arrivals {
    display: block;
  }
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper.new-arrivals .image::before {
  content: "";
  display: block;
  padding-top: 40%;
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper:hover .image {
  transform: scale(1);
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper:hover .image::after {
  opacity: 1;
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: #fff;
}

@media (min-width: 48em) {
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image {
    transform: scale(1.02);
    transition: all 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image::after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
  }
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image::before {
  content: "";
  display: block;
  padding-top: 100%;
}

@media (min-width: 48em) {
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image::before {
    padding-top: 66.6667%;
  }
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image-content h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

@media (min-width: 48em) {
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image-content h1 {
    margin: 0;
  }
}

@media (min-width: 75em) {
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image-content h1 {
    font-size: 3em;
  }
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image-content > p {
  font-size: 1.8em;
  margin: 0;
  font-weight: bold;
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image-content .shop-btn p {
  font-size: 1.2em;
}

.image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image-content .shop-btn p:not(:last-child) {
  margin-right: 2em;
}

@media (min-width: 36em) {
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image-content .shop-btn p {
    font-size: 1.5em;
  }
  .image_gallery .image_gallery-outer .image_gallery-inner .image-wrapper .image-content .shop-btn p:not(:last-child) {
    margin-right: 3em;
  }
}

.item-counter {
  border: 2px solid #d3d4d5;
  display: inline-block;
  font-size: 1.3em;
  width: 7rem;
  padding: .2rem .5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-counter span {
  font-weight: 400;
  padding: 0 1.4rem;
  font-size: 1.2em;
}

.item-counter i:hover {
  cursor: pointer;
}

.table thead th {
  border-top: none;
  border-bottom-width: 1px;
  font-size: 1.8em;
  font-weight: 500;
}

.table thead th.lg-cell {
  min-width: 11rem;
  width: 30%;
}

.table thead th.md-cell {
  min-width: 6rem;
  width: 12.5%;
}

.table tbody td {
  vertical-align: middle;
  font-size: 1.6em;
  font-weight: 400;
}

.table tbody td img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
}

.table tbody td i:hover {
  cursor: pointer;
}

.table tbody td .item-counter {
  font-size: .8rem;
  width: 5.5rem;
}

/*# sourceMappingURL=style.css.map */