.checkout-container {
    padding-top: 10em;
    padding-bottom: 5em;

    h1 {
        text-align: center;
        font-weight: 700;
        font-size: 4.5em;
        margin-bottom: 2.5rem;
    }

    .table {

        thead {

            th {
                border-top: none;
                border-bottom-width: 1px;
                font-size: 1.8em;
                font-weight: 500;

                &.lg-cell {
                    min-width: 11rem;
                    width: 30%;
                }

                &.md-cell {
                    min-width: 6rem;
                    width: 12.5%;
                }
            }
        }

        tbody {

            td {
                vertical-align: middle;
                font-size: 1.6em;
                font-weight: 400;

                img {
                    width: 7rem;
                    height: 7rem;
                    object-fit: cover;
                }

                i {
                    &:hover {
                        cursor: pointer;
                    }
                }

                .item-counter {
                    font-size: .8rem;
                    width: 5.5rem;
                }
            }
        }
    }

    .summary-wrapper {
        // width: 50%;
        margin-top: 5em;

        p {

            font-size: 1.4em;
            font-weight: 600;

            &.total {
                font-size: 1.8em;
                border-top: 1px solid $Very-Light-Gray;
                padding-top: 1.5rem;
            }

            span {
                float: right;
                font-weight: 400;
            }
        }

        @include tablet {
            width: 50%;
            margin-left: auto;
        }

        @include desktop {
            width: 35%;
        }

        .StripeCheckout {

            span {
                background: rgb(33, 42, 47) !important;
                border: unset !important;
                box-shadow: none !important;
                font-family: inherit !important;
            }

            border: 2px solid rgb(33, 42, 47) !important;
            border-radius: 2px !important;
            background: rgb(33, 42, 47) !important;
            box-shadow: none !important;
            width: 100%;
            font-size: 1.4em;
            letter-spacing: 2px;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
            padding: 0.8125em 1.125em !important;

            &:focus {
                outline: none;
            }

        }
    }

    .empty-container {
        text-align: center;
        height: 50em;

        h2 {
            margin-bottom: 5rem;
        }

        p.button {
            min-width: 10em;
            width: 50%;
            margin: 0 auto;
        }
    }
}