footer {
    background-color: $Dark-Blue;
    color: $white;
    text-align: center;
    padding: $pad-double;

    img {
        width: 10em;
    }

    .hash-tag {
        margin: 0;
        font-weight: 100;
        font-size: 1.5em;
    }

    ul.media-list {
        padding-top: $pad;

        li {
            display: inline-block;
            font-size: 1.3em;

            &:not(:last-child) {
                margin-right: $pad;
            }
        }
    }

    .footer-list {

        @include tablet {
            display: flex;
            justify-content: space-between;
            padding: 0 20%;
            margin-bottom: 2rem;
        }

        ul {

            @include tablet {
                width: 33.33337%;
            }

            li {
                font-size: 1.2em;

                &:not(:last-child) {
                    padding-bottom: $pad-half;
                }

                &.list-title {
                    font-weight: bold;
                    font-size: 1.6em;
                    padding-bottom: $pad;
                }
            }
        }


    }


    .typography {
        font-size: 1.2em;
    }
}