.header-modal-container {
    box-shadow: 0 -1px 8px rgba(0, 0, 0, .1);
    // height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
    top: 5rem;
    left: 0;
    background-color: $Very-Light-Gray;

    .mobile-modal-wrapper {
        @include laptop {
            display: none;
        }

        height: 100vh;

        ul {
            list-style-type: none;
            margin: 0;

            li {
                font-size: .75rem;
                padding: 1rem 1.5rem;
                // text-align: center;
                border-bottom: rgba(0, 0, 0, .2) 1px solid;

                &:nth-child(n):nth-child(-n+3) {
                    font-weight: bold;
                }

                &:hover {
                    cursor: pointer;
                }

                a {
                    color: hsl(233, 26%, 24%);

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .men-list,
            .women-list {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .desktop-modal-wrapper {
        display: none;
    
        @include laptop {
            display: block;
            // animation: show 0.2s linear 0s;
        }

        // background-color: red;
        width: 100%;

        // position: fixed;
        .modal-list {
            width: 100%;
            display: flex;
            padding-top: 5em;
            padding-bottom: 5em;

            ul {
                width: 25%;

                li {
                    font-size: 1.5em;

                    &:not(:last-child) {
                        margin-bottom: .7rem;
                    }

                    &.list-title {
                        font-size: 2em;
                        font-weight: 500;
                        margin-bottom: 1rem;
                    }

                    img {
                        width: 15em;
                        height: 5em;
                        object-fit: cover;

                    }
                }
            }

            ul.collections {
                width: 50%;

                .collection-item-wrapper {
                    display: flex;

                    li.collection-item {
                        color: $white;
                        width: 50%;
                        height: 10em;
                        background-position: center;
                        background-size: cover;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 600;
                        margin: 0;
                    }
                }
            }
        }
    }


    .blanket {

        @include laptop {
            background-color: rgba(0, 0, 0, 0.7);
            height: 100vh;
            /* z-index: -1; */
            position: absolute;
            width: 100vw;

        }
    }
    // animation-name: slideToBottom;
    // animation-duration: .5s;
    // animation-fill-mode: forwards;
}

@keyframes slideToBottom {
    0% {
        opacity: 0;
        transform: translateY(-7rem);

    }

    100% {
        transform: translateY(0);
        opacity: 1;

        // @include laptop {
        //     transform: translateX(-45em);
        // }
    }
}