.item-counter {
    border: 2px solid rgb(211, 212, 213);
    display: inline-block;
    font-size: 1.3em;
    width: 7rem;
    padding: .2rem .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    span {
        font-weight: 400;
        padding: 0 1.4rem;
        font-size: 1.2em;
    }
  
    i {
        &:hover {
            cursor: pointer;
        }
    }
  }