.image-gallery-container {
  overflow: hidden;
  padding: 0 2.4em;
  margin-bottom: 10em;

  &.extra-image {
    display: none;
    margin-bottom: 0;

    @include tablet {
      display: block;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @include tablet {
    display: grid;
    margin: 0 auto 7em;
    grid-template: repeat(3, 33.33337%) / repeat(2, 50%); // height/width
  }

  @include desktop {
    max-width: 1200px;
    box-sizing: border-box;
  }

  .image-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &.grid-sneakers {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
    }

    &.grid-topsellers {
      grid-row: 2 / 4;
      grid-column: 2 / 3;
    }

    &.grid-boots {
      grid-row: 3 / 4;
      grid-column: 1 / 2;

      .image-content {

        @include tablet {
          h1 {
            font-size: 2em;
          }

          >p {
            display: none;
          }

          .shop-btn {
            padding-bottom: .5rem;
          }
        }

        @include desktop {
          h1 {
            font-size: 2.5em;
          }

          .shop-btn {
            padding-bottom: 1rem;
          }
        }
      }
    }

    &.grid-running {
      grid-row: 1 / 2;
      grid-column: 2 / 3;

      .image-content {

        @include tablet {
          h1 {
            font-size: 2em;
          }

          >p {
            display: none;
          }

          .shop-btn {
            padding-bottom: .5rem;
          }
        }

        @include desktop {
          h1 {
            font-size: 2.5em;
          }

          .shop-btn {
            padding-bottom: 1rem;
          }
        }

      }
    }

    &.new-arrivals {

      .image {

        &::before {
          content: "";
          display: block;
          padding-top: 100%;

          @include tablet {
            padding-top: 40%;
            // display: none;
          }
        }
      }
    }

    &:hover {
      .image {
        transform: scale(1);

        &::after {
          opacity: 1;
        }
      }
    }

    .image {
      background-position: center;
      background-size: cover;
      // background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      color: $white;

      @include tablet {

        transform: scale(1.02);
        transition: all 1s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        &::after {
          content: '\A';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.1);
          opacity: 0;
          transition: all 1s;
          -webkit-transition: all 1s;
        }
      }

      &::before {
        content: "";
        display: block;
        padding-top: 100%;

        @include tablet {
          padding-top: 66.6667%;
          // display: none;
        }
      }
    }


    .image-content {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;

      h1 {
        font-size: 2.5em;
        // font-weight: 500;
        font-weight: bold;
        margin-bottom: 2rem;
        letter-spacing: 1px;

        @include tablet {
          margin: 0;
          // font-size: 3em;
        }


        @include desktop {
          font-size: 3em;
        }
      }

      >p {
        font-size: 1.8em;
        margin: 0;
        font-weight: bold;

      }

      .shop-btn {
        p {
          font-size: 1.2em;

          &:not(:last-child) {
            margin-right: 2em;
          }

          @include large-phone {
            font-size: 1.5em;

            &:not(:last-child) {
              margin-right: 3em;
            }
          }

        }
      }
    }

  }



}