.loginpage-container {
    background-color: #f1ebe7;
    padding: 10em 2em;

    @include tablet {
        padding: 10em;

    }

    @include laptop {
        padding: 20em 2em;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 2.4em;
        font-weight: 600;

    }

    label {
        display: block;
        font-size: 1.4em;
        font-weight: 600;
    }

    input {
        width: 100%;
        margin-bottom: 19px;
        -webkit-appearance: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        background-color: white;
        font-weight: 400;
        font-size: 1.6em;
        padding: 19px 20px;

        &:focus {
            outline: none;
        }
    }


    .login-wrapper {
        width: 100%;

        @include laptop {
            width: 50%;
            padding-right: 5%;
        }

        h1 {
            margin-bottom: 1em;
        }


    }

    .register-wrapper {
        margin-top: 5em;
        width: 100%;

        @include laptop {
            margin-top: 0;
        }

        @include laptop {
            width: 50%;
            padding-left: 5%;
        }

        h1 {
            margin-bottom: 1em;
        }

        p {
            font-size: 1.6em;

            &.bold {
                font-weight: 600;
                text-align: center;
            }
        }
    }
}