.header_dropdown {
    box-shadow: 0 -1px 8px rgba(0, 0, 0, .1);
    width: 100vw;
    position: fixed;
    z-index: 999;
    top: 5rem;
    left: 0;
    background-color: $white;
    max-height: 0;
    opacity: 0;

    &.active {
        transition: all 0.4s;
        opacity: 1;
        max-height: 100vh;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        .header_dropdown-desktop {
            width: 100%;
            
            @include laptop {
                display: block;
            }
        }
        
        .blanket {
            @include laptop {
                background-color: rgba(0, 0, 0, 0.7);
                height: 100vh;
                width: 100vw;
                position: absolute;
            }
        }

        .header_dropdown-mobile {
            display: block;
            height: 100vh;

            @include laptop {
                display: none;
            }
        }
    }

    // mobile dripdown menu
    .header_dropdown-mobile {
        display: none;

        ul {

            li {
                font-size: 1.4em;
                padding: 1rem 1.5rem;
                border-bottom: rgba(0, 0, 0, .2) 1px solid;
                font-weight: 500;

                &.gender {
                    font-weight: bold;
                }

                &.link-list {
                    padding: 0;

                    a {
                        padding: 1rem 1.5rem;
                        display: block;
                    }
                }

                &:hover {
                    cursor: pointer;
                }

                i {
                    float: right;
                }
            }


            &.slide-list {
                position: absolute;
                top: 0;
                background-color: $white;
                width: 100%;
                animation-name: slideToLeft;
                animation-duration: .2s;
                right: -100%;
                animation-fill-mode: forwards;

                li {

                    &.title {
                        text-align: center;
                        font-weight: 700;
                        background-color: rgb(245, 245, 245);

                        i {
                            float: left;
                        }
                    }
                }

            }
        }
    }

    // desktop dripdown menu
    .header_dropdown-desktop {
        display: none;

        .header_dropdown-main {
            display: flex;
            padding: 7em 0;

            p {
                font-size: 2em;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            .header_dropdown-shoes {
                width: 50%;

                ul {

                    li {
                        font-size: 1.5em;
                        float: left;
                        width: 50%;

                        &:not(:last-child) {
                            margin-bottom: 1.5rem;
                        }

                        &.list-title {
                            font-size: 2em;
                            font-weight: 500;
                            margin-bottom: 1rem;
                        }

                        img {
                            width: 15em;
                            height: 5em;
                            object-fit: cover;

                        }
                    }
                }
            }

            .header_dropdown-collections {
                width: 50%;

                ul {
                    display: flex;
                    justify-content: space-between;

                    .collection-item {
                        width: 48%;
                        height: 8rem;
                        background-position: center;
                        background-size: cover;
                        margin: 0;

                        a {
                            height: 100%;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 500;
                            font-size: 1.7em;
                            color: $white;
                        }
                    }

                }
            }
        }
    }
}