.header {
    position: fixed;
    top: 0;
    height: 5rem;
    background-color: $white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: $z-index-high;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 24px 0px;

    #bars {
        font-size: 1.5rem;
        width: 1.3rem;

        &:hover {
            cursor: pointer;
        }

        @include laptop {
            display: none;
        }
    }

    .desktop_menu {
        display: none;

        @include laptop {
            display: block;
        }
    }

    .header-left {
        margin: 0;
        // display: none;

        li {
            float: left;
            font-size: $font-size-med;

            &:not(:last-child) {
                margin-right: 2em;
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.1, 1.1);
            }

            &.is-active {
                transform: scale(1.1, 1.1);
            }

        }

        @include laptop {
            display: block;
        }
    }

    .header-logo {
        position: absolute;
        left: 0;
        right: 0;
        z-index: -5;
        height: 100%;
        width: 100%;
        text-align: center;

        img {
            height: 100%;
            width: 10em;
        }
    }


    .header-right {
        margin: 0;
        display: flex;
        align-items: center;
        height: 100%;
        font-size: $font-size-med;

        p {
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: 2em;
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.1, 1.1);
            }

            i {
                font-size: 1.3rem;
                // display: table-cell;
            }
        }

        // }
    }


    #shopping-cart {

        @include laptop {

            &.shopping-cart-mobile {
                display: none;
            }
        }
    }
}