.collections-items-container {

  min-height: 50em;

  @include laptop {
    min-height: 70em;
  }

  .search-result {
    font-size: $font-size-med;
    text-align: center;
    margin: 1.5em 0;
  }

  .collections-items-wrapper {


    .collections-title {

      p {
        font-size: $font-size-med;

      }
    }

  }
}