.collections-card {

    box-shadow: rgb(211, 212, 213) 0px 6px 12px 0px;
    margin: 5em 0;

    .collections-card-outer {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;

        img {
            height: 30em;
            object-fit: cover;
        }

        .card-content {

            padding: 2em 2em 0;

            h3 {
                font-size: $font-size-med;
                height: 2em;
                font-weight: 500;
                margin-bottom: .5rem;
            }

            p {
                font-size: $font-size-med;
                margin-bottom: .5rem;
            }
        }

        &:hover {
            cursor: pointer;
        }

    }


    .quick-add {
        border-top: 1px solid rgb(211, 212, 213);
        padding: .5em 1em;

        p {
            font-size: 1.4em;
            font-weight: 500;
            display: inline-block;

            i {
                margin-left: 1em;
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.05, 1.05);
            }
        }

    }

    .search-filter-content {

        display: block;
        max-height: 0;
        opacity: 0;
        transition: all 0.4s;
        
        &.active {
            opacity: 1;
            max-height: 20em;
            
            .search-filter-size {
                display: flex;
            }
        }
        
        .search-filter-size {
            padding: 0 1em 1em;
            justify-content: start;
            display: none;
        }
    }

}